---
export interface Props {
  index: number;
  step: {
    title: string;
    description: string;
  };
}

const { step, index } = Astro.props;
---

<div class="card" data-animate="fade-up">
  <div class="flex flex-row items-center gap-4">
    <p
      class="text-sm text-secondary w-6 h-6 flex items-center justify-center rounded-full bg-brand-secondary"
    >
      {index + 1}
    </p>
    <h4 class="font-[300]">{step.title}</h4>
  </div>
  <p class="pt-4 whitespace-pre-line">{step.description}</p>
</div>
