---
import StepTile from "./StepTile.astro";

const steps = [
  {
    title: "Search",
    description: "Find what you love, or discover something new - all across platforms like Netflix, Disney+, and more",
  },
  {
    title: "Save",
    description:
      "Build your watchlist as you go. Your picks stay saved, ready to spin when the moment’s right.",
  },
  {
    title: "Spin",
    description: "Want something at random, or go with a vibe? Pickture chooses something for you - fast, fair, and argument-free.",
  },
] as const;
---

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 pt-4">
  {steps.map((step, index) => <StepTile step={step} index={index} />)}
</div>
