<footer id="footer" class="block-wrapper">
  <nav aria-label="Footer">
    <ul class="flex flex-col md:flex-row gap-6 justify-around">
      <!-- Pickture Status -->
      <li>
        <h4 class="font-semibold text-xs uppercase tracking-wide mb-2">
          Status
        </h4>
        <ul class="font-[200]">
          <li>🟠 In Development</li>
        </ul>
      </li>

      <!-- Contact details -->
      <!-- <li>
        <h4 class="font-semibold text-xs uppercase tracking-wide mb-2">
          Contact
        </h4>
        <ul>
          <li></li>
        </ul>
      </li> -->

      <!-- Pickture preview credits -->
      <li>
        <h4 class="font-semibold text-xs uppercase tracking-wide mb-2">
          Credits
        </h4>
        <ul class="font-[200]">
          <li>Built with Astro + Tailwind</li>
          <li>Hosted on Vercel</li>
          <li>© 2025 Matthew Hocking</li>
        </ul>
      </li>
    </ul>
  </nav>
</footer>
