---
import StepTiles from "../components/StepTiles.astro";
---

<section
  id="how-it-works"
  class="block-wrapper block-wrapper--bg-gray"
>
  <div data-animate="fade-up">
    <h3 class="font-normal">How it works</h3>
    <StepTiles />
  </div>
</section>
