<section
  id="problem-solution"
  class="block-wrapper block-wrapper--bg-brand"
>
  <div 
    class="grid  gap-6 md:gap-12 max-w-[700px]"
    data-animate="fade-up"
  >
    <!-- Problem -->
    <div class="text-center">
      <h4>A solution for a familiar problem</h4>
      <p>
        You want to watch something - but after 20 minutes of scrolling,
        nothing stands out. It’s even harder when you're not choosing alone.
      </p>
    </div>

    <!-- Solution -->
    <div class="text-center">
      <h4>Pickture makes it simple</h4>
      <p>
        Take a seat and spin the wheel. No arguing, no scrolling, just press play.
      </p>
    </div>
  </div>
</section>
